body {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 14px;
    margin: 0;
}
.container {
    margin: 0 auto;
}
.controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    margin: auto;
    top: 0;
    z-index: 3333;
    padding: 30px 0;
    background: #fff;
    left: 0;
    right: 0;
    max-width: 100%;
}

.controller .type {
    margin: 0 20px;
}
.pagation {
    text-align: center;
}
.df {
    display: flex;
}

.controller .speed select {
    padding: 5px 10px;
}

.musicShowModal {
    max-width: 1025px;
    width: 100%;
    margin: auto;
    position: relative;
    height: calc(100vh - 97px);
    margin-top: 97px;
}
.showmusic {
    text-align: center;
    position: relative;
    top: 0;
    margin: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.showmusic.swiper-wrapper {
    height: auto;
}
.showmusic canvas {
    display: block;
}
.showline {
    position: absolute;
    border: 1px solid red;
    /* 宽高  计算五线谱高度，top left 计算在原pdf 中的位置 */
    z-index: 666;
}

.showblock {
    background: rgba(196, 45, 45, 0.3);
    position: absolute;
    z-index: 665;
}

.hide {
    display: none;
}

.swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
}

.mob.shu .controller {
    position: fixed;
    width: 100%;
    margin: 0 0 0 0;
    padding-bottom: 0;
    min-width: 100%;
    height: 120px;
    display: block;
    text-align: center;
}
.mob.heng .musicShowModal {
    width: 100%;
    height: calc(100vh - 120px);
    margin-top: 97px;
    max-width: 100%;
}
.mob.shu .musicShowModal{
    width: 100%;
    height: calc(100vh - 150px);
    margin-top: 150px;
    max-width: 100%;
}
.mob.shu .df {
    display: block;
}

